Common_Libraries/LIB_RMS_API_NBTsfService/NBTsfService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="NBTsfService" targetNamespace="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="NBTsfPortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<wsp:Policy wsu:Id="NBTsfPortBinding_WSAM_Addressing_Policy-NBTsfPortBinding_WSAM_Addressing_Policy">
<wsam:Addressing wsp:Optional="true">
<wsp:Policy/>
</wsam:Addressing>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/services/exception/v1" schemaLocation="RemoteFiles/xsd_1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1" schemaLocation="RemoteFiles/xsd_2.xsd"/>
</xsd:schema>
<xsd:schema/>
<xsd:schema/>
<xsd:schema/>
</types>
<message name="getTsf">
<part element="tns:getTsf" name="parameters"/>
</message>
<message name="getTsfResponse">
<part element="tns:getTsfResponse" name="parameters"/>
</message>
<message name="IllegalArgumentWSFaultException">
<part element="ns1:IllegalArgumentWSFaultException" name="fault" xmlns:ns1="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="IllegalStateWSFaultException">
<part element="ns2:IllegalStateWSFaultException" name="fault" xmlns:ns2="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="EntityNotFoundWSFaultException">
<part element="ns3:EntityNotFoundWSFaultException" name="fault" xmlns:ns3="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="ValidationWSFaultException">
<part element="ns4:ValidationWSFaultException" name="fault" xmlns:ns4="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="getTsfCategory">
<part element="tns:getTsfCategory" name="parameters"/>
</message>
<message name="getTsfCategoryResponse">
<part element="tns:getTsfCategoryResponse" name="parameters"/>
</message>
<message name="ping">
<part element="tns:ping" name="parameters"/>
</message>
<message name="pingResponse">
<part element="tns:pingResponse" name="parameters"/>
</message>
<portType name="NBTsfPortType">
<operation name="getTsf">
<input message="tns:getTsf" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfRequest" wsaw:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfRequest"/>
<output message="tns:getTsfResponse" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfResponse"/>
<fault message="tns:IllegalArgumentWSFaultException" name="IllegalArgumentWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsf/Fault/IllegalArgumentWSFaultException"/>
<fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsf/Fault/IllegalStateWSFaultException"/>
<fault message="tns:EntityNotFoundWSFaultException" name="EntityNotFoundWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsf/Fault/EntityNotFoundWSFaultException"/>
<fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsf/Fault/ValidationWSFaultException"/>
</operation>
<operation name="getTsfCategory">
<input message="tns:getTsfCategory" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategoryRequest" wsaw:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategoryRequest"/>
<output message="tns:getTsfCategoryResponse" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategoryResponse"/>
<fault message="tns:IllegalArgumentWSFaultException" name="IllegalArgumentWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategory/Fault/IllegalArgumentWSFaultException"/>
<fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategory/Fault/IllegalStateWSFaultException"/>
<fault message="tns:EntityNotFoundWSFaultException" name="EntityNotFoundWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategory/Fault/EntityNotFoundWSFaultException"/>
<fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/getTsfCategory/Fault/ValidationWSFaultException"/>
</operation>
<operation name="ping">
<input message="tns:ping" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/pingRequest" wsaw:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/pingRequest"/>
<output message="tns:pingResponse" wsam:Action="http://www.oracle.com/retail/primark/integration/services/NBTsfService/v1/NBTsfPortType/pingResponse"/>
</operation>
</portType>
<binding name="NBTsfPortBinding" type="tns:NBTsfPortType">
<wsaw:UsingAddressing/>
<wsp:PolicyReference URI="#NBTsfPortBinding_WSAM_Addressing_Policy-NBTsfPortBinding_WSAM_Addressing_Policy"/>
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getTsf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalArgumentWSFaultException">
<soap:fault name="IllegalArgumentWSFaultException" use="literal"/>
</fault>
<fault name="IllegalStateWSFaultException">
<soap:fault name="IllegalStateWSFaultException" use="literal"/>
</fault>
<fault name="EntityNotFoundWSFaultException">
<soap:fault name="EntityNotFoundWSFaultException" use="literal"/>
</fault>
<fault name="ValidationWSFaultException">
<soap:fault name="ValidationWSFaultException" use="literal"/>
</fault>
</operation>
<operation name="getTsfCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IllegalArgumentWSFaultException">
<soap:fault name="IllegalArgumentWSFaultException" use="literal"/>
</fault>
<fault name="IllegalStateWSFaultException">
<soap:fault name="IllegalStateWSFaultException" use="literal"/>
</fault>
<fault name="EntityNotFoundWSFaultException">
<soap:fault name="EntityNotFoundWSFaultException" use="literal"/>
</fault>
<fault name="ValidationWSFaultException">
<soap:fault name="ValidationWSFaultException" use="literal"/>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NBTsfService">
<port binding="tns:NBTsfPortBinding" name="NBTsfPort">
<soap:address location="http://iecwxuvdapp783.primark.local:8403/NBTsfBean/NBTsfService"/>
</port>
</service>
</definitions>