Common_Libraries/LIB_WMS/CUST_INB_IFD_27102017.xsd

<?xml version="1.0" encoding="UTF-8"?><!--RedPrarie Corp.

W3C XML Schema for IFD [CUST_INB_IFD] Version [PRI_V1.0]

Assumptions:
- Parent Tag []
- Show ifd tag [T]
- Envelope IFD [] Version []

IFD Description: Customer download transaction--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="CUST_INB_IFD">
      <xsd:annotation>
         <xsd:documentation>Customer download transaction</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CTRL_SEG">
               <xsd:annotation>
                  <xsd:documentation>Control Data</xsd:documentation>
               </xsd:annotation>
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element minOccurs="0" name="TRNNAM">
                        <xsd:annotation>
                           <xsd:documentation>Transaction ID</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="120"/>
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element minOccurs="0" name="TRNVER">
                        <xsd:annotation>
                           <xsd:documentation>Transaction version</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="60"/>
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element minOccurs="0" name="WHSE_ID">
                        <xsd:annotation>
                           <xsd:documentation>Warehouse ID - Identifier for the warehouse system.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                           <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="128"/>
                           </xsd:restriction>
                        </xsd:simpleType>
                     </xsd:element>
                     <xsd:element maxOccurs="unbounded" minOccurs="0" name="CUST_SEG">
                        <xsd:annotation>
                           <xsd:documentation>Customer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element minOccurs="0" name="SEGNAM">
                                 <xsd:annotation>
                                    <xsd:documentation>Segment Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TRNTYP">
                                 <xsd:annotation>
                                    <xsd:documentation>Transaction Type (A,C,D)</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CSTNUM">
                                 <xsd:annotation>
                                    <xsd:documentation>Customer Number</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CLIENT_ID">
                                 <xsd:annotation>
                                    <xsd:documentation>Client ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="128"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="BCKFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Back Order Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PARFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Partial Allocation Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CARFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Carrier Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="SPLFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Split Case Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="STDFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Standard Case Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="SHPLBL">
                                 <xsd:annotation>
                                    <xsd:documentation>Ship Label Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="24"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="SHIPBY">
                                 <xsd:annotation>
                                    <xsd:documentation>Create Shipments By</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="WAYBBY">
                                 <xsd:annotation>
                                    <xsd:documentation>WAYBBY  (Create Waybills By)
Never Used in DCS</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CARGRP">
                                 <xsd:annotation>
                                    <xsd:documentation>Carrier Group</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="MANFID">
                                 <xsd:annotation>
                                    <xsd:documentation>Manifest ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="DEPTNO">
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOCALE_ID">
                                 <xsd:annotation>
                                    <xsd:documentation>Locale ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ORDINV">
                                 <xsd:annotation>
                                    <xsd:documentation>Order Inventory</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CSTTYP">
                                 <xsd:annotation>
                                    <xsd:documentation>Customer Type</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="16"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="INVSTS_PRG">
                                 <xsd:annotation>
                                    <xsd:documentation>Inventory Status Progression</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="16"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="FRSCOD">
                                 <xsd:annotation>
                                    <xsd:documentation>Freshness Date Code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="MIN_SHELF_HRS">
                                 <xsd:annotation>
                                    <xsd:documentation>Minimum Shelf Life (hours)</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="10"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RSVPRI">
                                 <xsd:annotation>
                                    <xsd:documentation>Reservation Priority</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="REQUIR_TMS_COD">
                                 <xsd:annotation>
                                    <xsd:documentation>Require TMS Code - Does this customer require that their orders are planned by TMS?</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PLTBLD_CONSBY">
                                 <xsd:annotation>
                                    <xsd:documentation>Pallet Building Consolidation Code - Indicates how Pallet Building will be consolidated for this customer</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOD_TAG_SNGLE_ENCODE">
                                 <xsd:annotation>
                                    <xsd:documentation>Load Tag Single Part Encoding - The tag encoding to be used for a full pallet of a single part, such as SGTIN64 or SSCC64.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOD_TAG_MIX_ENCODE">
                                 <xsd:annotation>
                                    <xsd:documentation>Load Tag Mixed Part Encoding - The tag encoding to be used for a partial pallet or mixed part pallet, such as DOD64 or SSCC64.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="SUB_TAG_SNGLE_ENCODE">
                                 <xsd:annotation>
                                    <xsd:documentation>Sub-Load Tag Single Part Encoding - The tag encoding to be used for a full carton of a single part, such as SGTIN64 or SSCC64.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="SUB_TAG_MIX_ENCODE">
                                 <xsd:annotation>
                                    <xsd:documentation>Sub-Load Tag Mixed Part Encoding - The tag encoding to be used for a partial carton or mixed part carton, such as DOD64 or SSCC64.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="URN_FORMAT">
                                 <xsd:annotation>
                                    <xsd:documentation>Uniform Resource Name(URN) Format - defines the URN format to be used when sending host transactions to customer</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ALC_SEARCH_PATH">
                                 <xsd:annotation>
                                    <xsd:documentation>Allocation Search Path</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ABS_ORDINV_WIN">
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ABS_ORDINV_CODE">
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="UC_STORE_GRADE">
                                 <xsd:annotation>
                                    <xsd:documentation>Store Grade</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element maxOccurs="unbounded" minOccurs="0" name="REPACK_CLASS_SEG">
                                 <xsd:annotation>
                                    <xsd:documentation>This segment is used to create or change repack class for customer</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element minOccurs="0" name="SEGNAM">
                                          <xsd:annotation>
                                             <xsd:documentation>Segment Name -  Identifier for this IFD segment.</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="80"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                       <xsd:element minOccurs="0" name="RPKCLS">
                                          <xsd:annotation>
                                             <xsd:documentation>Customer Repack Class</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="80"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element maxOccurs="unbounded" minOccurs="0" name="ACCT_SEG">
                                 <xsd:annotation>
                                    <xsd:documentation>This segment is used to get or receive the account number from the cst_billto_acct table.</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element minOccurs="0" name="SEGNAM">
                                          <xsd:annotation>
                                             <xsd:documentation>Segment Name -  Identifier for this IFD segment.</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="80"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                       <xsd:element minOccurs="0" name="CARCOD">
                                          <xsd:annotation>
                                             <xsd:documentation>Carrier Code - This code indicates which account to bill to when the consignee has multiple accounts.</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="40"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                       <xsd:element minOccurs="0" name="ACCNUM">
                                          <xsd:annotation>
                                             <xsd:documentation>Parcel Bill-to Account</xsd:documentation>
                                          </xsd:annotation>
                                          <xsd:simpleType>
                                             <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="160"/>
                                             </xsd:restriction>
                                          </xsd:simpleType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element maxOccurs="unbounded" minOccurs="0" name="ADDR_SEG">
                        <xsd:annotation>
                           <xsd:documentation>Customer</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element minOccurs="0" name="SEGNAM">
                                 <xsd:annotation>
                                    <xsd:documentation>Segment Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TRNTYP">
                                 <xsd:annotation>
                                    <xsd:documentation>Transaction Type (A,C,D)</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CLIENT_ID">
                                 <xsd:annotation>
                                    <xsd:documentation>Client ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="128"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="HOST_EXT_ID">
                                 <xsd:annotation>
                                    <xsd:documentation>External Address ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRNAM">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRTYP">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Type</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="16"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRLN1">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Line 1</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRLN2">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Line 2</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRLN3">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Line 3</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRCTY">
                                 <xsd:annotation>
                                    <xsd:documentation>Address City</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRSTC">
                                 <xsd:annotation>
                                    <xsd:documentation>Address State Code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADRPSZ">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Postal Code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CTRY_NAME">
                                 <xsd:annotation>
                                    <xsd:documentation>Address Country Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RGNCOD">
                                 <xsd:annotation>
                                    <xsd:documentation>Region Code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PHNNUM">
                                 <xsd:annotation>
                                    <xsd:documentation>Phone Number</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="FAXNUM">
                                 <xsd:annotation>
                                    <xsd:documentation>FAX Number</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RSAFLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Residential Address Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TEMP_FLG">
                                 <xsd:annotation>
                                    <xsd:documentation>Temp Flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LAST_NAME">
                                 <xsd:annotation>
                                    <xsd:documentation>Last Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="FIRST_NAME">
                                 <xsd:annotation>
                                    <xsd:documentation>First Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="HONORIFIC">
                                 <xsd:annotation>
                                    <xsd:documentation>Honorific</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ADR_DISTRICT">
                                 <xsd:annotation>
                                    <xsd:documentation>Address District</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="WEB_ADR">
                                 <xsd:annotation>
                                    <xsd:documentation>Web Address</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="800"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="EMAIL_ADR">
                                 <xsd:annotation>
                                    <xsd:documentation>Email Address</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="400"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PAGNUM">
                                 <xsd:annotation>
                                    <xsd:documentation>Pager Number</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOCALE_ID">
                                 <xsd:annotation>
                                    <xsd:documentation>Locale ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ATTN_NAME">
                                 <xsd:annotation>
                                    <xsd:documentation>Attention Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="ATTN_TEL">
                                 <xsd:annotation>
                                    <xsd:documentation>Attention Telephone</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CONT_NAME">
                                 <xsd:annotation>
                                    <xsd:documentation>Contact Name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="160"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CONT_TEL">
                                 <xsd:annotation>
                                    <xsd:documentation>Contact Telephone</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CONT_TITLE">
                                 <xsd:annotation>
                                    <xsd:documentation>Contact Title</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PO_BOX_FLG">
                                 <xsd:annotation>
                                    <xsd:documentation>P.O. box?</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>