Common_Libraries/LIB_IGS_API_ASNOutService/ASNOutPublishingService_InlineSchema5.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/igs/integration/services/ASNOutPublishingService/v1" version="1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://www.oracle.com/retail/integration/base/bo/ASNOutDesc/v1" xmlns:ns2="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/igs/integration/services/ASNOutPublishingService/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/ASNOutDesc/v1" schemaLocation="ASNOutPublishingService_InlineSchema6.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" schemaLocation="ASNOutPublishingService_InlineSchema1.xsd"/>
            <xs:element ibmSchExtn:docRoot="true" name="ping" type="tns:ping"/>
            <xs:element ibmSchExtn:docRoot="true" name="pingResponse" type="tns:pingResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishASNOutCreateUsingASNOutDesc" type="tns:publishASNOutCreateUsingASNOutDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishASNOutCreateUsingASNOutDescResponse" type="tns:publishASNOutCreateUsingASNOutDescResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishASNOutModifyUsingASNOutDesc" type="tns:publishASNOutModifyUsingASNOutDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishASNOutModifyUsingASNOutDescResponse" type="tns:publishASNOutModifyUsingASNOutDescResponse"/>
            <xs:complexType name="publishASNOutModifyUsingASNOutDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:ASNOutDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishASNOutModifyUsingASNOutDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishASNOutCreateUsingASNOutDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:ASNOutDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishASNOutCreateUsingASNOutDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>