Common_Libraries/LIB_IGS_API_ASNInService/ASNInPublishingService_InlineSchema7.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/bus/gateway/services/RoutingInfos/v1" version="1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/integration/bus/gateway/services/RoutingInfos/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:element ibmSchExtn:docRoot="true" name="RoutingInfos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:routingInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="detail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dtl_name" type="xs:string"/>
                        <xs:element name="dtl_value" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="routingInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element form="unqualified" name="name" type="xs:string"/>
                        <xs:element form="unqualified" name="value" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:detail"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>