Common_Libraries/LIB_RMS_API_NBASNService/NBASNService_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/primark/integration/services/NBASNService/v1" version="1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPORef/v1" xmlns:ns2="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBLocDesc/v1" xmlns:ns3="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBASNInfoDesc/v1" xmlns:ns4="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBTsfWhLegRef/v1" xmlns:ns5="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBTsfWhLegDesc/v1" xmlns:ns6="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPOInfoRef/v1" xmlns:ns7="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPODesc/v1" xmlns:ns8="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPOInfoDesc/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/primark/integration/services/NBASNService/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPORef/v1" schemaLocation="NBASNService_InlineSchema11.xsd"/>
                        <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBASNInfoDesc/v1" schemaLocation="NBASNService_InlineSchema5.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBTsfWhLegRef/v1" schemaLocation="NBASNService_InlineSchema7.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBTsfWhLegDesc/v1" schemaLocation="NBASNService_InlineSchema8.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPOInfoRef/v1" schemaLocation="NBASNService_InlineSchema6.xsd"/>
                        <xs:import namespace="http://www.oracle.com/retail/integration/custom/bo/ExtOfNBPOInfoDesc/v1" schemaLocation="NBASNService_InlineSchema4.xsd"/>
            <xs:element ibmSchExtn:docRoot="true" name="getASNInfo" type="tns:getASNInfo"/>
            <xs:element ibmSchExtn:docRoot="true" name="getASNInfoResponse" type="tns:getASNInfoResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="getPOInfo" type="tns:getPOInfo"/>
            <xs:element ibmSchExtn:docRoot="true" name="getPOInfoResponse" type="tns:getPOInfoResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="getTsfWhLeg" type="tns:getTsfWhLeg"/>
            <xs:element ibmSchExtn:docRoot="true" name="getTsfWhLegResponse" type="tns:getTsfWhLegResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="ping" type="tns:ping"/>
            <xs:element ibmSchExtn:docRoot="true" name="pingResponse" type="tns:pingResponse"/>
            <xs:complexType name="getASNInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:ExtOfNBPORef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getASNInfoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns3:ExtOfNBASNInfoDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTsfWhLeg">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns4:ExtOfNBTsfWhLegRef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getTsfWhLegResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns5:ExtOfNBTsfWhLegDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPOInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns6:ExtOfNBPOInfoRef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPOInfoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns8:ExtOfNBPOInfoDesc"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>