Common_Libraries/LIB_SIV/PRERECEIPT_PO.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	<xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element ibmSchExtn:docRoot="true" name="PreReceiptPo">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:terminator="%NL;%WSP*;" minOccurs="0" name="FileHeader">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element maxOccurs="1" minOccurs="1" name="RecordType">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Filename">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="40"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Date">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Time">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9]"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="Body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="">
							<xsd:element dfdl:terminator="%NL;%WSP*;" minOccurs="0" name="PurchaseOrderHeader">
								<xsd:complexType>
									<xsd:sequence dfdl:separator="|" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="">
										<xsd:element maxOccurs="1" minOccurs="1" name="RecordType">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="POCID">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9]*"/>
													<xsd:maxLength value="12"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="SupplierID">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9]*"/>
													<xsd:maxLength value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="SupplierName">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="SupplierAddressCountry">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" name="SupplierCountryCode">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="PortOfOrigin">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="RequiredDeliveryDate">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="RequiredHandoverDate">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="HandoverRequiredDateVariance">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
                                                   <xsd:maxLength value="19"/>
                                                </xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="ActualHandoverDate">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="GoodsBookedDate">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="LatestShipDate">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="DepartmentNumber">
                                           	<xsd:simpleType>
                        						<xsd:restriction base="xsd:string">
                          						<xsd:maxLength value="4"/>
                          						<xsd:pattern value="[0-9]*"/>
                        					</xsd:restriction>
                      					</xsd:simpleType>
                                        </xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="DepartmentDescription">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="25"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="DestinationCountry">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="##########" maxOccurs="1" minOccurs="1" name="PhysicalLocation">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:fractionDigits value="0"/>
													<xsd:totalDigits value="10"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="BuyerName">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="40"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="ClassNumber">
                                            																					<xsd:simpleType>
				                        <xsd:restriction base="xsd:string">
				                          <xsd:maxLength value="4"/>
				                          <xsd:pattern value="[0-9]*"/>
				                        </xsd:restriction>
				                      </xsd:simpleType>
                                        </xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="0" name="ClassDescription">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="25"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="CartonorSet">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="15"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="GoodsonHangers">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#########################" maxOccurs="1" minOccurs="0" name="ORMSStyleCode">
                                            																					<xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="25"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="CollectAirfreight">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="PrepaidAirfreight">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="0" name="GrossWeight">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:fractionDigits value="4"/>
													<xsd:totalDigits value="24"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="0" name="Size">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="24"/>
													<xsd:fractionDigits value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="1" name="BookedCartons">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:fractionDigits value="4"/>
													<xsd:totalDigits value="24"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="BookingStatus">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="0" name="SellingValue">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="24"/>
													<xsd:fractionDigits value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="1" name="OrderType">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element dfdl:terminator="%NL;" minOccurs="0" name="PurchaseOrderDetail">
								<xsd:complexType>
									<xsd:sequence dfdl:separator="|">
										<xsd:element maxOccurs="1" minOccurs="1" name="RecordType">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="POCID">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#########" maxOccurs="1" minOccurs="0" name="ORMSPack">
                                            																					<xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="25"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="0" name="QuantityofPacks">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="24"/>
													<xsd:fractionDigits value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
																														<xsd:element maxOccurs="1" minOccurs="0" name="SmartPacked">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="50"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="##############" maxOccurs="1" minOccurs="0" name="PackGTIN">
                                            																					<xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="25"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" name="PurchaseOrderPack">
								<xsd:complexType>
									<xsd:sequence dfdl:separator="|" dfdl:terminator="%NL;">
										<xsd:element maxOccurs="1" minOccurs="1" name="RecordType">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="6"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#E0" maxOccurs="1" minOccurs="1" name="POCID">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:pattern value="[0-9]*"/>
													<xsd:maxLength value="11"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="#########" maxOccurs="1" minOccurs="1" name="ORMSPack">
                                                                                        																					                                        <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="25"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
										<xsd:element dfdl:textNumberPattern="#########" maxOccurs="1" minOccurs="1" name="ORMSSKU">
                                                                                        																					                                        <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="25"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="1" name="QuantityPerPack">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="24"/>
													<xsd:fractionDigits value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element dfdl:textNumberPattern="####################.####" maxOccurs="1" minOccurs="0" name="UnitCostPrice">
											<xsd:simpleType>
												<xsd:restriction base="xsd:decimal">
													<xsd:totalDigits value="24"/>
													<xsd:fractionDigits value="4"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element maxOccurs="1" minOccurs="0" name="CurrencyCode">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:maxLength value="3"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="FileTrailer">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element maxOccurs="1" minOccurs="1" name="RecordType">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Description1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element dfdl:textNumberPattern="#######" maxOccurs="1" minOccurs="1" name="ControlTotal1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:maxInclusive value="9999999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Description2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element dfdl:textNumberPattern="#######" maxOccurs="1" minOccurs="1" name="ControlTotal2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:maxInclusive value="9999999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="Description3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element dfdl:textNumberPattern="#######" maxOccurs="1" minOccurs="1" name="ControlTotal3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:maxInclusive value="9999999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>