Common_Libraries/LIB_SIV/SUPPLIERS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
	<xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element ibmSchExtn:docRoot="true" name="Suppliers">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:terminator="">
				<xsd:element dfdl:initiator="FilHdr|" dfdl:terminator="%CR;%LF;" name="FileHeader">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element minOccurs="0" name="Filename" type="xsd:string"/>
							<xsd:element maxOccurs="1" minOccurs="0" name="Date" type="xsd:string">
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="Time" type="xsd:string">
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:terminator="%CR;%LF;" maxOccurs="unbounded" minOccurs="0" name="Detail">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element name="SupplierID" type="xsd:string"/>
							<xsd:element name="SupplierName" type="xsd:string"/>
							<xsd:element name="SupplierAddressLine1" type="xsd:string"/>
							<xsd:element name="SupplierAddressLine2" type="xsd:string"/>
							<xsd:element name="SupplierAddressLine3" type="xsd:string"/>
							<xsd:element name="SupplierAddressLine4" type="xsd:string"/>
							<xsd:element name="SupplierAddressCity" type="xsd:string"/>
							<xsd:element name="SupplierAddressState" type="xsd:string"/>
							<xsd:element name="SupplierAddressCountry" type="xsd:string"/>
							<xsd:element name="SupplierAddressCountryCode" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:initiator="FilTrl|" dfdl:terminator="" name="FileTrailer">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element minOccurs="0" name="Description" type="xsd:string"/>
							<xsd:element minOccurs="0" name="ControlTotal" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>