Common_Libraries/LIB_IGS_API_XOrderService/XOrderPublishingService_InlineSchema4.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/igs/integration/services/XOrderPublishingService/v1" version="1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://www.oracle.com/retail/integration/base/bo/XOrderDesc/v1" xmlns:ns2="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" xmlns:ns3="http://www.oracle.com/retail/integration/base/bo/XOrderRef/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/igs/integration/services/XOrderPublishingService/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/XOrderDesc/v1" schemaLocation="XOrderPublishingService_InlineSchema5.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" schemaLocation="XOrderPublishingService_InlineSchema2.xsd"/>
            <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/XOrderRef/v1" schemaLocation="XOrderPublishingService_InlineSchema6.xsd"/>
            <xs:element ibmSchExtn:docRoot="true" name="ping" type="tns:ping"/>
            <xs:element ibmSchExtn:docRoot="true" name="pingResponse" type="tns:pingResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderCreateUsingXOrderDesc" type="tns:publishXOrderCreateUsingXOrderDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderCreateUsingXOrderDescResponse" type="tns:publishXOrderCreateUsingXOrderDescResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDeleteUsingXOrderRef" type="tns:publishXOrderDeleteUsingXOrderRef"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDeleteUsingXOrderRefResponse" type="tns:publishXOrderDeleteUsingXOrderRefResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlCreateUsingXOrderDesc" type="tns:publishXOrderDtlCreateUsingXOrderDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlCreateUsingXOrderDescResponse" type="tns:publishXOrderDtlCreateUsingXOrderDescResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlDeleteUsingXOrderRef" type="tns:publishXOrderDtlDeleteUsingXOrderRef"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlDeleteUsingXOrderRefResponse" type="tns:publishXOrderDtlDeleteUsingXOrderRefResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlModifyUsingXOrderDesc" type="tns:publishXOrderDtlModifyUsingXOrderDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderDtlModifyUsingXOrderDescResponse" type="tns:publishXOrderDtlModifyUsingXOrderDescResponse"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderModifyUsingXOrderDesc" type="tns:publishXOrderModifyUsingXOrderDesc"/>
            <xs:element ibmSchExtn:docRoot="true" name="publishXOrderModifyUsingXOrderDescResponse" type="tns:publishXOrderModifyUsingXOrderDescResponse"/>
            <xs:complexType name="publishXOrderDtlModifyUsingXOrderDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:XOrderDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDtlModifyUsingXOrderDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderCreateUsingXOrderDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:XOrderDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderCreateUsingXOrderDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderModifyUsingXOrderDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:XOrderDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderModifyUsingXOrderDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ping">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDeleteUsingXOrderRef">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns3:XOrderRef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDeleteUsingXOrderRefResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDtlCreateUsingXOrderDesc">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns1:XOrderDesc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDtlCreateUsingXOrderDescResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDtlDeleteUsingXOrderRef">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns3:XOrderRef"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="publishXOrderDtlDeleteUsingXOrderRefResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="ns2:ServiceOpStatus"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>